div:nth-child(1) > img{
    width: 150px;
    position: relative;
    animation: mymove1;
    animation-duration: 3s;
}
div:nth-child(2) > img{
    width: 150px;
    animation: animatezoom 3s;
}
div:nth-child(3) > img{
    width: 150px;
    position: relative;
    animation: mymove2;
    animation-duration: 3s;
}

div{
    margin: 30px;
}
@keyframes mymove1 {
    from {top:-150px;}
    to {top: 0px;}
}
@keyframes mymove2 {
    from {left:150px;}
    to {left: 0px;}
}