<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src=".\assets\images\logo.png"/>
        </div>
        <div id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#myPage">HOME</a>
                </li>
                <li>
                    <a href="#booksList">BOOKS</a>
                </li>
                <li>
                    <a href="#tour">MY-CART</a>
                </li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
