td{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 41%
}
th, td {
    padding: 15px;
}
.democlass{
background-color: cyan
}
.democlass1{
    background-color:lawngreen
}