
.selectedD{
    width: 470px;
   height: 500px;
   border-radius: 70px;
    background-color: darkgrey;
    margin-left: 710px;
}


h1{
    text-align: center;
    padding: 15px;
}

    table, th, td {
        border: 1px solid black;
        width:400px;
        text-align: center;
        margin-left:8%; 
        font-size: 20px;
        margin-top: 80px;

    }
    th{
        padding:15px;
    }


    


   